In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("bacteria.csv", sep="\t")
df

    ID  Núcleos  Caudas     Cor Membrana      Classe
0    1        1       1   Clara     Fina  Lethaugica
1    2        2       1   Clara     Fina  Lethaugica
2    3        1       1   Clara   Grossa  Lethaugica
3    4        1       1  Escura     Fina  Lethaugica
4    5        1       1  Escura   Grossa  Lethaugica
5    6        2       2  Escura     Fina   Brutolina
6    7        2       2   Clara     Fina   Brutolina
7    8        2       2  Escura   Grossa   Brutolina
8    9        2       1  Escura   Grossa    Saudavel
9   10        2       1  Escura     Fina    Saudavel
10  11        1       2   Clara     Fina    Saudavel
11  12        1       2   Clara   Grossa    Saudavel

In [46]:
counts_nucleos = df.loc[:, ("Núcleos", "Classe")].groupby("Núcleos").value_counts(normalize=True)
counts_nucleos

Núcleos  Classe
1        Lethaugica    0.666667
         Saudavel      0.333333
2        Brutolina     0.500000
         Saudavel      0.333333
         Lethaugica    0.166667
dtype: float64

In [47]:
counts_caudas = df.loc[:, ("Caudas", "Classe")].groupby("Caudas").value_counts(normalize=True)
counts_caudas

Caudas  Classe
1       Lethaugica    0.714286
        Saudavel      0.285714
2       Brutolina     0.600000
        Saudavel      0.400000
dtype: float64

In [48]:
counts_cor = df.loc[:, ("Cor", "Classe")].groupby("Cor").value_counts(normalize=True)
counts_cor

Cor     Classe
Clara   Lethaugica    0.500000
        Saudavel      0.333333
        Brutolina     0.166667
Escura  Brutolina     0.333333
        Lethaugica    0.333333
        Saudavel      0.333333
dtype: float64

In [49]:
counts_membrana = df.loc[:, ("Membrana", "Classe")].groupby("Membrana").value_counts(normalize=True)
counts_membrana

Membrana  Classe
Fina      Lethaugica    0.428571
          Brutolina     0.285714
          Saudavel      0.285714
Grossa    Lethaugica    0.400000
          Saudavel      0.400000
          Brutolina     0.200000
dtype: float64

In [63]:
result = counts_nucleos[1] * counts_caudas[1] * counts_cor["Clara"] * counts_membrana["Fina"]

result.index[result.argmax()], result.max() * 100

('Lethaugica', 10.20408163265306)